body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px; 
    background-color:#dfc5b7
     ;
}

nav {
    width: 200px;
    background-color: #98411C;
    height: 100vh;
    color: #fff;
    box-sizing: border-box;
    transition: width 0.5s;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Collapsible Navigation Bar Styling */
@media screen and (max-width: 768px) {
    nav {
        width: 0;
    }

    nav a {
        text-align: center;
    }

    body.collapsed nav {
        width: 60px;
    }

    body.collapsed main {
        margin-left: 60px;
    }
}

.toggle-btn {
    display: none;
}

@media screen and (max-width: 768px) {
    .toggle-btn {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        cursor: pointer;
        z-index: 2;
    }
}

.fixed-image {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    z-index: 999;
}
