body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px; 
    background-color:#dfc5b7
     ;
}

nav {
    width: 20%;
    background-color: #98411C;
    height: 125vh;
    color: #fff;
    box-sizing: border-box;
    transition: width 0.5s;
    font-weight: bold;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
}

nav a:hover {
    background-color: #dfc5b7;
    color: #98411C;
}

main {
    width: 20%;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.cropped-container {
    width: 1000px; /* Set the desired width of the cropped area */
    height: 450px; /* Set the desired height of the cropped area */
    overflow: hidden;
}

.cropped-image {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block;
}